<div class="main">
    <a href="/unidades-consumidoras#AdicionarEditarUC" (click)="toAdd()" class="btns-container">
        ADICIONAR
    </a>
    <div class="table-title">
        <label>
            Unidades Consumidoras
        </label>
    </div>
    <table class="table-container">
        <tr class="table-header">
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Distribuidora</th>
            <th>Número</th>
            <th>Faturas </th>
            <th>Ações</th>
        </tr>
        <tr class="table-lines" *ngFor="let uc of unidadesConsumidoras" >
            <td>{{uc.id}}</td>
            <td>{{uc.nome}}</td>
            <td>{{uc.endereco}}</td>
            <td>{{uc.distribuidora}}</td>
            <td>{{uc.numero}}</td>
            <td class="actions-lines">
                <a href="/unidades-consumidoras#VisualizarFaturas" >
                    <button class="action-button" (click)="saveViewId(uc.id)" >Visualizar</button>
                </a>
            </td>
            <td class="actions-lines">
                <a href="/unidades-consumidoras#AdicionarEditarUC" >
                    <button class="action-button" (click)="toEdit(uc.id)" >Editar</button>
                </a>
                <button class="delete-button" (click) = "deleteUnidadeConsumidora(uc.id, uc.nome)">
                    Excluir
                </button>
            </td>
        </tr>
    </table>
</div>

<div id="AdicionarEditarUC" class="modal-window">
    <div>
        <a href="/unidades-consumidoras#" title="Fechar" class="modal-close">X</a>
        <app-add-edit-uc-form [isAdd]=isAdd [editId]=editId></app-add-edit-uc-form>
    </div>
</div>

<div id="VisualizarFaturas" class="modal-window">
    <div>
        <a href="/unidades-consumidoras#" title="Fechar" class="modal-close">X</a>
        <app-view-uc-faturas [viewId]=viewId ></app-view-uc-faturas >
    </div>
</div>

