.container{
    background: rgba(220,68,0,1);
    background: linear-gradient(90deg, rgba(220,68,0,1) 0%, rgba(239,157,4,1) 50%, rgba(247,200,20,1) 100%);
    padding: 30px 50px 30px 50px;
    display: flex;
}

.copyright{
    color: #fff;
}