@import './variables.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btns-container{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: .7rem .9rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
    background-color: $mainOrange;
    border-radius: 10px;
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 2px solid $mainOrange;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

    }
    & > div {
        border: 1px solid $mainOrange;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: white;
    } 
}
 
.modal-close {
    background-color: rgb(238, 12, 12);
    color: white;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem; 
    line-height: 1.5rem;
    border-radius: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    &:hover {
        color: black;
        background-color: #c0c0c0;
    }
}

.table-title {
    width: 90%;
    padding: .7rem 0;
    margin: .7rem;
    background-color: $mainOrange;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.table-container{
    width: 90%;

}

.actions-lines{
    text-align: center;
}

.action-button{
    background-color: $mainOrange;
}

.delete-button{
    background-color: rgb(238, 12, 12);
}

button{
    width: 5rem;
    margin-right: .5rem;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
  }

th, td {
    border-right: 2px solid orange;
    border-left: 2px solid orange;
}

td {
    padding: .7rem 0 0 .7rem; 
}

@media screen and (max-width: 900px) { 
    .modal-window{
        & > div {
            width: 60%;
        }
    }

    .table-container{
        width: 98%;
    }

    .table-title {
        width: 98%;
    }

    td{
        margin: 0 .2rem;
        padding: .2rem 0 0 .2rem;
    }

    .actions-lines{
        padding: .2rem !important;
    }
}


@media screen and (max-width: 520px) { 
    button {
        width: 3rem;
        font-size: .4rem;
        
    }

    .modal-window{
        & > div {
            width: 80%;
        }
    }

    .actions-lines{
        padding: .2rem !important;
    }

    td{
        padding: .1rem .1rem 0 .1rem;
    }
}
  